.navbar{
   display: flex;
   align-items: center;
   justify-content: space-evenly; 
   color: rgb(44, 21, 21);
   background-image: linear-gradient(to right,rgb(182, 182, 182) 0%, rgb(231, 224, 164) 75%, rgb(144, 144, 141) 100%);
   width: 100%;
   height: 50px;
 
}
.navlinks {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 20px;
    justify-content: space-evenly;
    width: 50%;
}
.cart{
    margin-right: 30px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    
}
.shop{
     font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
   
}
